section.home_s-6
	.container
		.map-store
			.img
				img(src="./img/home/map.png", alt="")
			.content
				p Hệ hống cửa hàng
				h3 Tìm cửa hàng Ohroni Deli gần bạn nhất
				a(href="#").view-map Tìm cửa hàng
					span.ri-arrow-right-line
