section.home_s-4
	.container
		.row.bg-4(setBackground='./img/about/bg-4.png' alt="")
			.col-lg-10
				.head-title
					h2 Về Ohroni
				.description Đơn vị chuyên nuôi trồng, mua bán, xuất nhập khẩu và chế biến các sản phẩm cao cấp từ rong biển: Rong nho, Tảo xoắn Spirulina, Rong mứt Nori, Rong bẹ Wakame, Phổ tai Kombu, Rong sụn Kantem...
				a(href="#").view-more Xem thêm
				.item-about
					ul
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
							.text-logo ISO 22000 cho nhà máy sản xuất
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
							.text-logo VietGAP cho vùng nuôi trồng
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
							.text-logo 100% sản phẩm hữu cơ
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
							.text-logo Chứng nhận an toàn thực phẩm
