// a 
// 	+hover-underline(95%, #2d88ff)
// .news-list
// 	+gg-speed(auto, 1410px)

.images-zoom
	overflow: hidden
	transition: .3s all ease-in-out
	&:hover
		img
			transform: scale(1.13)
	img
		transform: scale(1)
		transition: .3s all ease-in-out

.background-img
	background-position: 50% 80% !important
