<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="NewsList.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="NewsFAQsList.xslt" name="Danh sách FAQs"></templatelist>
	<templatelist xsltname="NewsListGCS.xslt" name="Danh sách Góc chia sẻ"></templatelist>
	<templatelist xsltname="NewsListTD.xslt" name="Danh sách Tuyển dụng"></templatelist>
	<templatelist xsltname="NewsListKM.xslt" name="Danh sách Khuyến mãi"></templatelist>
	<templatelist xsltname="NewsListTMDT.xslt" name="Danh sách Thương mại điện tử"></templatelist>

	<templatedetail xsltname="NewsTTDetail.xslt" name="Chi tiết tin tức"></templatedetail>
	<templatedetail xsltname="NewsDetailGCS.xslt" name="Chi tiết Góc chia sẻ"></templatedetail>
	<templatedetail xsltname="NewsDetailTD.xslt" name="Chi tiết tuyển dụng"></templatedetail>

	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
		<add name="Tin tức" value="2" resourcefile="" />
	</position>
</templates>
