section.about(setBackground='./img/about/bg-1.png' alt="")
	.container 
		.row
			.col-lg-6 
				.figure-video.media-play
					.wrapper-video
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img(src="./img/about/1.png", alt="")
					.video
						.icon
							img(src="./img/about/icon-video.png", alt="")
			.col-lg-6
				.content-about
					.head-title
						h1 Về Ohroni
					.desc 
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simply
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simplyscrambled it to make a type specimen bookLorem Ipsum is simply


section.about-2(setBackground='./img/about/bg-2.png' alt="")
	.container
		.head-title
			h2 Tầm nhìn - sứ mệnh
		.row
			.col-lg-5
				.item-about-2 
					.card-img
						img(src="./img/about/2-vector-1.png", alt="")
					.title
						h3 Tầm nhìn
					.caption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simply
			.col-lg-5
				.item-about-2 
					.card-img
						img(src="./img/about/2-vector-2.png", alt="")
					.title
						h3 Sứ mệnh
					.caption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simply

section.about-3
	.container
		.head-title
			h2 Lĩnh vực hoạt động
		.row
			-for(i=0; i<3; i++)
				.col-lg-4
					.item-about-3
						.card-img.images-zoom
							a(href="#")
								img(src="./img/about/3.png", alt="")
						.content-about
							.title-about
								a(href="#") Nuôi rong biển
							.title-zone Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 

section.about-4
	.container
		.row.bg-4(setBackground='./img/about/bg-4.png' alt="")
			.col-lg-10
				.head-title
					h2 Chứng nhận
				.description Đơn vị chuyên nuôi trồng, mua bán, xuất nhập khẩu và chế biến các sản phẩm cao cấp từ rong biển: Rong nho, Tảo xoắn Spirulina, Rong mứt Nori, Rong bẹ Wakame, Phổ tai Kombu, Rong sụn Kantem...
				.item-about-4
					ul
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
						li
							.img-logo
								img(src="./img/about/4.png", alt="")
						li
							.img-logo
								img(src="./img/about/4.png", alt="")

section.about-5
	.container
		.head-title
			h2 Trách nhiệm xã hội
		.row
			-for(i=0; i<2; i++)
				.col-lg-6
					.item-about-5
						.card-img
							a(href="#").images-zoom
								img(src="./img/about/5.png", alt="")
						.content-about
							.date
								time 08/12/2020
							.title-about
								a(href="#") Tập thể Ohroni tham gia chiến dịch trồng cây 
							a(href="").view-more Xem thêm
								span.ri-arrow-right-line

		.row
			-for(i=0; i<2; i++)
				.col-lg-6
					.item-about-5
						.card-img
							a(href="#").images-zoom
								img(src="./img/about/5.png", alt="")
						.content-about
							.date
								time 08/12/2020
							.title-about
								a(href="#") Tập thể Ohroni tham gia chiến dịch trồng cây 
							a(href="").view-more Xem thêm
								span.ri-arrow-right-line
