section.about
	.container 
		.row
			.col-lg-6 
				.figure-video.media-play
					.wrapper-video
						a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img(src="./img/about/1.png", alt="")
					.video
						.icon
							img(src="./img/about/icon-video.png", alt="")
			.col-lg-6
				.content-about
					.head-title
						h1 Về Ohroni
					.desc 
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simply
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen bookLorem Ipsum is simplyscrambled it to make a type specimen bookLorem Ipsum is simply



