extends _layout.pug

block var
	- var title = 'Góc chia sẻ chi tiết'
	- var bodyClass = 'shared-corner-detail-page'

block main
	include ../components/UI/breadcrumb/index
	include ../components/shared-corner/shared-corner-detail/index
