section.news-list
	.container
		.head-title
			h1 Tin Tức
		.head-menu
			ul
				li.active
					a(href="#") Tin công ty
				li
					a(href="#") Tin thị trường
		.row
			.col-lg-6
				.big-news-left
					.card-img.images-zoom
						a(href="#")
							img(src="./img/news/1.png", alt="")
					.content-news
						.date
							time 10.09.2021
						.title-news
							a(href="#") Công ty Nông nghiệp Thuận Hải tiếp tục tham gia Hội Chợ triễn lãm Asia Fruit Logistica
						.title-zone Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
					a(href="").view-more Xem chi tiết
						span.ri-arrow-right-line
			.col-lg-6
				.big-news-right
					.card-img.images-zoom
						a(href="#")
							img(src="./img/news/1.png", alt="")
					.content-news
						.date
							time 10.09.2021
						.title-news
							a(href="#") Công ty Nông nghiệp Thuận Hải tiếp tục tham gia Hội Chợ triễn lãm Asia Fruit Logistica
						.title-zone Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
					a(href="").view-more Xem chi tiết
						span.ri-arrow-right-line
		.row
			-for(i=0; i<4; i++)
				.col-lg-3
					.small-news
						.card-img.images-zoom
							a(href="#")
								img(src="./img/news/2.png", alt="")
						.content-news
							.date
								time 10.09.2021
							.title-news
								a(href="#") Công ty Nông nghiệp Thuận Hải tiếp tục tham gia Hội Chợ triễn lãm Asia Fruit Logistica
							.title-zone Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
						a(href="").view-more Xem chi tiết
							span.ri-arrow-right-line
