section.contact
	.container
		.head-title
			h1 Liên hệ
		.row
			.col-lg-4
				.left-contact
					.title
						h2 Công ty TNHH Nông nghiệp Thuận Hải
					.card-body
						ul
							li
								span
									em.ri-map-pin-2-fill
								p 611 Đường DT 720, Thông 1, Xã Gia An, Huyện Tánh Linh, Tỉnh Bình Thuận
							li
								span
									em.material-icons phone_android
								p 0252 366 6789
							li
								span
									em.ri-phone-fill
								p 0252 366 6789
							li
								span
									em.ri-mail-fill
								p info@thargi.com.vn
			.col-lg-4
				.left-contact
					.title
						h2 Công ty TNHH Nông nghiệp Thuận Hải
					.card-body
						ul
							li
								span
									em.ri-map-pin-2-fill
								p 698 Phạm Huy Thông, Phường 5, Quận Gò Vấp, Thành phố Hồ Chí Minh 
							li
								span
									em.ri-phone-fill
								p 028 6254 8888
							li
								span
									em.ri-mail-fill
								p order@thagri.com.vn
			.col-lg-4
				.left-contact
					.title
						h2 Công ty TNHH Nông nghiệp Thuận Hải
					.card-body
						ul
							li
								span
									em.ri-map-pin-2-fill
								p Thôn Khánh Giang, Thị Trấn Khánh Hải, Huyện Ninh Hải, Tỉnh Ninh Thuận
							li
								span
									em.ri-map-pin-2-fill
								p CN2: 237/56 Lê Văn Khương, Khu phố 1, Phường Hiệp Thành, Quận 12, Thành phố Hồ Chí Minh
							li
								span
									em.ri-phone-fill
								p 0905 379 079
							li
								span
									em.ri-mail-fill
								p nnq@thagri.com.vn

		.row
			.col-lg-8
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Địa chỉ")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="GỬI")

	.container
		.map-wrapper
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="500px")

				
