section.shared-corner-detail
	.container
		.row
			.col-lg-10
				.card-title
					h1 Ăn rong nho thế nào? công dụng, cách bảo quản rong nho
					.bottom-wrapper-news-detail
						time 19.04.2020
						.social-network-share
							.icon
								a(href="#")
									span.ri-thumb-up-fill
									.text Like 0
								a(href="#")
									.text Share
				.fullcontent 
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					h2 1. Công dụng tuyệt vời của rong nho
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						strong Giúp xương chắc khỏe
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						img(src="./img/share/detail-1.png", alt="")
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					h2 2. Công dụng tuyệt vời của rong nho
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						strong Giúp xương chắc khỏe
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						img(src="./img/share/detail-1.png", alt="")
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa? Vậy hãy chuyên mục Rong biển của Thargi giúp bạn hiểu hơn về nho là gì? Cách thưởng thức và món gỏi, công dụng và bảo quản rong nho đúng ra sao nhé!
					h2 3. Công dụng tuyệt vời của rong nho
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						strong Giúp xương chắc khỏe
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						img(src="./img/share/detail-1.png", alt="")
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho
					p
						strong Giúp xương chắc khỏe
					p Rong nho là loại tảo biển có hình dạng chùm nho, bạn đã từng trong thấy và nềm thử chúng hay chưa?
					p Rong nho là loại tảo biển có hình dạng chùm nho

section.other-news-detail
	.container
		.head-title
			h2 Bài viết khác
		.news-detail-swiper-wrapper
			.nav-arrow-prev
				span.ri-arrow-left-fill
			.nav-arrow-next
				span.ri-arrow-right-fill
			.swiper-container
				.swiper-wrapper
					-for(i=0; i<4; i++)
						.swiper-slide
							.item-news-other
								.card-img
									a(href="#").images-zoom
										img(src="./img/share/detail-1.png", alt="")
								.content-news-other
									.date
										time 08/12/2020
									.title-other
										a(href="#") Đa dạng sinh học và muốn lợi rong biển Việt Nam
