section.faqs-list
	.container
		.head-title
			h1 Faqs
		.faqs
			ul.block-togglefaqs
				li
					a.togglefaqs 01 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 02 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 03 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 04 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 05 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 06 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 07 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 08 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 09 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
				li
					a.togglefaqs 10 Thời gian giao hàng của Ohronit đối với trái cây nhập khẩu là bao lâu?
					.content
						.caption
							p Các sản phẩm tại Ohroni đều có nguồn góc xuất xứ rõ ràng, đã qua kiểm định nghiêm ngặt, được nhập từ các công ty sản xuất, nhà cung cấp lớn. Ohroni luôn sẵn sàng cung cấp giấy chứng nhập thực phẩm sạch - an toàn để quý khách yên tâm mua hàng.
