footer(setBackground='./img/footer/background.png' alt="")
	.footer-block
		.container
			.row
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-address.pr-40
						.card__title
							h4 Góc chia sẻ
						.card__body
							ul
								li
									strong Văn phòng giao dịch: 
									p 98 Phạm Huy Thông, Phường 5, Quận Gò Vấp, Thành phố Hồ Chí Minh
								li
									p
										strong Hỗ trợ khách hàng:
								li 
									.icon-footer
										span.ri-phone-fill
									p  028 6267 6666
								li 
									.icon-footer
										span.ri-mail-fill
									p Email: cs@thagri.com.vn 
					//- .footer-card
					//- 	.card__title
					//- 		h4 Góc chia sẻ
					//- 	.item-footer
					//- 		ul
					//- 			li
					//- 				a(href="#") Rong biển
					//- 			li
					//- 				a(href="#") Ẩm thực
					//- 			li
					//- 				a(href="#") Sức khỏe
					//- 			li
					//- 				a(href="#") Làm đẹp
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Danh mục sản phẩm
						.item-footer
							ul
								li
									a(href="") Rong nho
								li
									a(href="") Rong sụn 
								li
									a(href="") Rong mức
								li
									a(href="") Tảo bé
								li
									a(href="") Tảo xoắn
								li
									a(href="") Rong mơ
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Chính sách
						.item-footer
							ul
								li
									a(href="") Chính sách đổi hàng
								li
									a(href="") Chính sách thanh toán giao nhận
								li
									a(href="") Chính sách bảo mật
								li
									a(href="") Chính sách bảo hành
								li
									a(href="") Hướng dẫn mua hàng
								li
									a(href="") Hướng dẫn thanh toán
								li
									a(href="") Quy trình giao nhận
								li
									a(href="") Quy trình đổi trả, bảo hành
				.col-xl-3.col-md-6.col-sm-6.col-12
					.footer-card
						.card__title
							h4 Kết nối với ohroni
						.item-footer
							.fb-page
							.notification
								img(src="./img/footer/1.png", alt="")

	.footer-subscribe
		.container
			.subscribe-wrapper
				.logo-footer
					a(href="#")
						img(src="./img/header/logo.png", alt="")
				.news-footer
					ul
						li
							strong Đăng ký nhận bản tin
						li
							p Đăng nhập email để cập nhật thông tin mới từ Ohroni
				.subscribe
					.subscribefrm
						input(type="text" placeholder='Nhập email của bạn')
						button Đăng ký
					.icon-footer
						ul
							li
								a(href="#")
									span.ri-facebook-fill
							li
								a(href="#")
									span.ri-youtube-fill
	
	.footer-copyright
		.container
			.row.copyright-wrapper
				.right-text
					p © 2020 Ohroni. All right Reserved. Thiết kế website bởi Cánh Cam.
				.right-text-policy
					ul
						li
							a(href="#") Điều khoản sử dụng
						li
							a(href="#") Chính sách bảo mật
						li
							a(href="#") Sơ đồ trang website
