section.shop-tmdt
	.container
		.head-title
			h1 Hệ thống kinh doanh
		.head-menu
			ul
				li.active
					a(href="#") Cửa hàng Ohroni
				li
					a(href="#") Hệ thống bán lẻ
				li
					a(href="#") Shop TMĐT
		.row
			.col-lg-6
				.shop-slider-swiper-wrapper
					.nav-arrow-prev
						span.ri-arrow-left-fill
					.nav-arrow-next
						span.ri-arrow-right-fill
					.swiper-container
						.swiper-wrapper
							-for(i=0; i<12; i++)
								.swiper-slide
									.item-shop-tmdt
										img(src="./img/system/tiki.png", alt="") 

