section.shop-tmdt
	.container
		.head-title
			h1 Hệ thống kinh doanh
		.head-menu
			ul
				li.active
					a(href="#") Cửa hàng Ohroni
				li
					a(href="#") Hệ thống bán lẻ
				li
					a(href="#") Shop TMĐT 
		.row
			.col-lg-6
				.item-shop-tmdt
					ul
						li
							.tmdt
								a(href="#")
									img(src="./img/system/tiki.png", alt="") 
						li
							.tmdt
								a(href="#")
									img(src="./img/system/tiki.png", alt="") 
						li
							.tmdt
								a(href="#")
									img(src="./img/system/tiki.png", alt="") 
