section.recruitment-detail
	.container
		.row
			.col-lg-9
				.card-title
					h1 Nhân viên kinh doanh
				.info-hr-detail
					.card-img
						img(src="./img/recruitment/detail-1.png", alt="")
					.card-body-hr-detail
						.title-zone
							h2 Thông tin tuyển dụng
						table.table.table-striped
							tbody
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-1.png", alt="")
											p Số lượng cần tuyển
									|
									td 2
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-2.png", alt="")
											p Độ tuổi
									|
									td 22-30 tuổi
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-3.png", alt="")
											p Hình thức công việc
									|
									td Toàn thời gian cố định
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-4.png", alt="")
											p Địa điểm làm việc
									|
									td TP.Hồ Chí Minh
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-4.png", alt="")
											p Kinh nghiệm
									|
									td 1 năm - 2 năm
								|
								tr
									td(scope='row')
										.caption
											img(src="./img/recruitment/icon-6.png", alt="")
											p Yêu cầu bằng cấp
									|
									td Tốt nghiệp Cao đẳng/ Đại học
								|
								tr
									td(scope='row')
										.caption
											img(src="./img/recruitment/icon-7.png", alt="")
											p Yêu cầu giới tính
									|
									td Nam/Nữ
								|
								tr
									td(scope='row') 
										.caption
											img(src="./img/recruitment/icon-8.png", alt="")
											p Thời hạn nộp hồ sơ
									|
									td 29/04/2020
				
				//- MÔ TẢ CÔNG VIỆC
				.hr-list-content
					.hr-detail-content
						h3 MÔ TẢ CÔNG VIỆC
					.text
						ul
							li 
								p Lương 15-20 triệu
							li 
								p Tăng lương định kỳ và đột xuất hàng năm
							li 
								p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
							li 
								p Lương tháng 13 + thưởng theo năng lực 
							li 
								p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
							li 
								p Du lịch trong và ngoài nước 
							li 
								p Tham gia các chương trình hội thao, teambuilding... 
							li 
								p Được đào tạo nâng cao các kỹ năng 
							li 
								p Nhiều cơ hội thăng tiến

					.hr-detail-content
						h3 Yêu cầu chung
					.text
						ul
							li 
								p Lên kế hoạc truyền thông hiệu quả, góp phần tăng doanh số cho các chương trình khuyến mãi và tạo hình ảnh đẹp cho công ty
							li 
								p Tạo được tốt với các phóng viên báo/đài
							li 
								p Đảm bảo việc hạn chế tối đa sai sót trong công việc
							li 
								p Hoàn tất cả việc được giao, dẳm bảo đúng tiến độ và hiệu quả cao.
							li 
								p Mức lương hài lòng với đối tác, đồng nghiệp, lãnh đạo,...
							li 
								p Chủ động, tự giác trong việc thực hiện nhiệm vụ được giao.

					.hr-detail-content
						h3 Quyền lợi nhân viên
					.text
						ul
							li 
								p Tốt nghiệp đại học chuyên ngành XDDD
							li 
								p Kinh nghiệp 5 năm
							li 
								p Thành thạo vi tính văn phòng, các phần mềm chuyên ngành

					.hr-detail-content
						h3 HỒ SƠ XIN VIỆC GỒM
					.text
						ul
							li 
								p Đơn xin việc
							li 
								p Sơ yếu lý lịch
							li 
								p Hộ khẩu CMND và giấy khám sức khỏe
							li 
								p Các giấy tờ liên qua. (Sao y công chứng)
							li 
								p Các bằng cấp có liên quan
				
				.form-apply-detail
					.apply-form
						.btn.button-apply
							a(href='javascript:void(0)' data-fancybox="" data-src="#form-apply") Ứng tuyển
						.text Hoặc
						.btn.button-download
							a(href="") Tải hồ sơ mẫu
			.col-lg-3
				.card-title-right
					h2 Tuyển dụng khác
				.card-body-right
					-for(i=0;i<4;i++)
						.content
							.title-detail
								a(href="#") Nhân viên thiết kế
							.desc-detail
								.city-detail
									.icon
										span.ri-map-pin-2-fill
									.text Ho Chi Minh City
								.date
									.icon
										span.ri-calendar-check-fill
									time 10/02/2020
