section.home_s-5
	.container
		.head-title
			h2 Góc chia sẻ
		.head-menu
			ul.tab-navigation-3
				li.active
					a(href="javascript:void(0)" data-type='share-1') Rong biển
				li
					a(href="javascript:void(0)" data-type='share-2') Ẩm thực
				li
					a(href="javascript:void(0)" data-type='share-3') Sức khỏe
				li
					a(href="javascript:void(0)" data-type='share-4') Làm đẹp
		.tab-wrapper-3
			.tab-item-3.active#share-1
				.row
					.col-lg-6
						.big-share
							.card-img.images-zoom
								a(href="#")
									img(src="./img/share/1.png", alt="")
							.content-share
								.date
									time 08/12/2020
								.title-share
									a(href="#") Ăn rong nho thế nào? công dụng, cách bảo quản rong
								.title-zone Rong nho là một loại tảo biển, có hình dạng giống như chùm nho và được mệnh danh là trứng cá muối xanh (caviar hay trứng cá muối).
					.col-lg-6
						-for(i=0;i<2;i++)
							.row.border
								.col-lg-6
									.share-right
										.card-img.images-zoom
											a(href="#")
												img(src="./img/share/2.png", alt="")
								.col-lg-6
									.content
										.date
											time 08/12/2020
										.title-share
											a(href="#") Công dụng khám viêm tuyệt vời của rong nho
										.title-zone Ăn rong nho sẽ giúp bạn sở hữu bộ xương chắc khỏe, dẻo dai nhất làĂn rong nho sẽ giúp bạn sở hữu bộ xương chắc khỏe, dẻo dai nhất là
										a(href="").view-more Xem thêm
											span.ri-arrow-right-line
				a(href="#").view-all Xem thêm 
