section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/home/banner.png", alt="")
					.caption.container(setBackground="./img/home/bg-text-banner.png")
						h2.title-caption Ưu đãi tháng 12
						h2.title-caption Sale 10
						.text % Off
						h2.title-caption Sản phẩm rong nho tươi
						a(href="").view-more-banner Mua ngay
							span.ri-arrow-right-line
		.banner-scroll
			.icon-banner
				span.ri-arrow-down-s-line
